/* screen - iphone-13-u38-14-5 */

.iphone-13-u38-14-5 {
  background-color: var(--ffffff);
  min-height: 330.0vw;
  min-width: 100.0vw;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.iphone-13-u38-14-5 .sale {
  align-items: center;
  background-color: var(--x1c1c1c);
  display: flex;
  gap: 2.56vw;
  height: 13.08vw;
  justify-content: center;
  left: 0;
  padding: 2.05vw 124.87vw;
  position: absolute;
  top: 0;
  width: 100.0vw;
}

.iphone-13-u38-14-5 .text-72 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -107.18vw;
  margin-right: -107.18vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.iphone-13-u38-14-5 .header {
  align-items: center;
  background-color: var(--ffffff);
  display: flex;
  height: 13.08vw;
  justify-content: space-between;
  left: 0;
  padding: 3.33vw 4.1vw;
  position: absolute;
  top: 13.08vw;
  width: 100.0vw;
}

.iphone-13-u38-14-5 .menu-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4.1vw;
  position: relative;
}

.iphone-13-u38-14-5 .menu-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1.54vw;
  position: relative;
  width: 5.64vw;
}

.iphone-13-u38-14-5 .line-7 {
  height: 0.38vw;
  margin-top: -0.38vw;
}

.iphone-13-u38-14-5 .line {
  align-self: stretch;
  height: 0.38vw;
  position: relative;
  width: 100%;
}

.iphone-13-u38-14-5 .iconly-sharp {
  height: 6.15vw;
  position: relative;
  width: 6.15vw;
}

.iphone-13-u38-14-5 .logo {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -0.38vw;
  margin-top: -0.9vw;
  position: relative;
  width: fit-content;
}

.iphone-13-u38-14-5 .footer {
  align-items: flex-end;
  background-color: var(--x1c1c1c);
  display: flex;
  flex-direction: column;
  gap: 13.85vw;
  left: 0;
  padding: 8.21vw 4.1vw;
  position: absolute;
  top: 455.38vw;
  width: 100.0vw;
}

.iphone-13-u38-14-5 .email {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5.13vw;
  position: relative;
  width: 100%;
}

.iphone-13-u38-14-5 .text-73 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.26vw;
  position: relative;
  width: fit-content;
}

.iphone-13-u38-14-5 .email-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--ffffff);
  border-radius: 0.51vw;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 2.05vw 4.1vw 2.05vw 2.05vw;
  position: relative;
  width: 100%;
}

.iphone-13-u38-14-5 .button-3 {
  align-items: center;
  background-color: var(--ff7c17);
  border-radius: 0.51vw;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 1.03vw;
  justify-content: center;
  padding: 2.05vw 4.1vw;
  position: relative;
}

.iphone-13-u38-14-5 .button-4 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.26vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.iphone-13-u38-14-5 .text-74 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: relative;
  text-align: left;
  width: fit-content;
}

.iphone-13-u38-14-5 .menu {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 3.08vw;
  position: relative;
}

.iphone-13-u38-14-5 .text-75 {
  align-items: center;
  direction: rtl;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.26vw;
  position: relative;
  width: fit-content;
}

.iphone-13-u38-14-5 .text {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: relative;
  text-align: left;
  width: fit-content;
}

.iphone-13-u38-14-5 .text-8 {
  align-items: center;
  direction: rtl;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: 5.38vw;
  margin-top: -0.26vw;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.iphone-13-u38-14-5 .text-8-1 {
  align-items: center;
  direction: rtl;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: 5.38vw;
  opacity: 0.7;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.iphone-13-u38-14-5 .payment-icons-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 3.08vw;
  position: relative;
}

.iphone-13-u38-14-5 .payment-icons {
  background-image: url(../image/size-sm--payment-method-visa.svg);
  background-position: 50% 50%;
  background-size: cover;
  border: 0.26vw solid;
  border-color: var(--ffffff);
  border-radius: 1.03vw;
  height: 6.15vw;
  position: relative;
  width: 8.72vw;
}

.iphone-13-u38-14-5 .payment-icons-1 {
  background-color: var(--ffffff);
  border: 0.26vw solid;
  border-radius: 1.03vw;
  height: 6.15vw;
  position: relative;
  width: 8.72vw;
}

.iphone-13-u38-14-5 .visa-logo {
  height: 32.58%;
  left: -25347.65%;
  position: absolute;
  top: -10741.25%;
  width: 70.00%;
}

.iphone-13-u38-14-5 .apple-pay {
  height: 43.41%;
  left: -25482.35%;
  position: absolute;
  top: -10745.83%;
  width: 71.62%;
}

.iphone-13-u38-14-5 .mastercard {
  height: 3.33vw;
  left: -2233.08vw;
  position: absolute;
  top: -661.79vw;
  width: 5.64vw;
}

.iphone-13-u38-14-5 .text-90 {
  align-items: center;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: 5.38vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.iphone-13-u38-14-5 .text-91 {
  direction: rtl;
  left: 26.92vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 31.28vw;
}

.iphone-13-u38-14-5 .header2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.05vw;
  left: 0;
  position: absolute;
  top: 46.67vw;
  width: 100.0vw;
}

.iphone-13-u38-14-5 .line-2 {
  height: 0.51vw;
  margin-top: -0.51vw;
}

.iphone-13-u38-14-5 .infofilters {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 0.0vw 4.1vw;
  position: relative;
  width: 100%;
}

.iphone-13-u38-14-5 .text-92 {
  color: var(--a4a4a4);
  direction: rtl;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.iphone-13-u38-14-5 .line-3 {
  height: 0.51vw;
}

.iphone-13-u38-14-5 .cards {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 4.1vw 4.1vw;
  justify-content: center;
  left: 4.1vw;
  position: absolute;
  top: 62.05vw;
  width: 91.79vw;
}

.iphone-13-u38-14-5 .card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3.08vw;
  position: relative;
  width: 43.85vw;
}

.iphone-13-u38-14-5 .info {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2.05vw;
  position: relative;
  width: 100%;
}

.iphone-13-u38-14-5 .image {
  align-items: flex-start;
  align-self: stretch;
  background-image: url(../image/image-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 50.77vw;
  justify-content: space-between;
  padding: 3.08vw;
  position: relative;
  width: 100%;
}

.iphone-13-u38-14-5 .frame-5-1 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2.56vw;
  position: relative;
  width: 100%;
}

.iphone-13-u38-14-5 .button {
  align-items: center;
  background-color: var(--x1c1c1c);
  border-radius: 0.51vw;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 1.03vw;
  justify-content: center;
  padding: 2.05vw 4.1vw;
  position: relative;
}

.iphone-13-u38-14-5 .button-5 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.26vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.iphone-13-u38-14-5 .info-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.iphone-13-u38-14-5 .phone {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: 5.0vw;
  opacity: 0.4;
  position: relative;
  text-align: center;
}

.iphone-13-u38-14-5 .x5000-kd {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: 5.0vw;
  position: relative;
  text-align: center;
}

.iphone-13-u38-14-5 .button-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--ff7c17);
  border-radius: 0.51vw;
  display: flex;
  gap: 1.03vw;
  height: 11.54vw;
  justify-content: center;
  padding: 2.05vw 4.1vw;
  position: relative;
  width: 100%;
}

.iphone-13-u38-14-5 .button-2 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.iphone-13-u38-14-5 .frame-5 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2.56vw;
  opacity: 0;
  width: 100%;
}

.iphone-13-u38-14-5 .button-6 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.26vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.iphone-13-u38-14-5 .button-7 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.26vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.iphone-13-u38-14-5 .button-8 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.26vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.iphone-13-u38-14-5 .button-9 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.26vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.iphone-13-u38-14-5 .button-10 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.26vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.iphone-13-u38-14-5 .iconly-sharp-heart {
  height: 6.15vw;
  margin-left: -2151.54vw;
  margin-top: -328.97vw;
  position: relative;
  width: 6.15vw;
}

.iphone-13-u38-14-5 .button-11 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.26vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.iphone-13-u38-14-5 .iconly-sharp-heart-1 {
  height: 6.15vw;
  margin-left: -2199.49vw;
  margin-top: -328.97vw;
  position: relative;
  width: 6.15vw;
}

.iphone-13-u38-14-5 .button-12 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.26vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.iphone-13-u38-14-5 .pages {
  align-items: flex-start;
  display: inline-flex;
  gap: 4.1vw;
  left: 33.59vw;
  position: absolute;
  top: 422.05vw;
}

.iphone-13-u38-14-5 .number {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.26vw;
  position: relative;
  text-align: center;
  width: 8.21vw;
}

.iphone-13-u38-14-5 .active {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.54vw;
  position: relative;
  width: 8.21vw;
}

.iphone-13-u38-14-5 .number-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.26vw;
  position: relative;
  text-align: center;
  width: fit-content;
}

.iphone-13-u38-14-5 .line-1-1 {
  align-self: stretch;
  height: 0.26vw;
  margin-left: -2205.64vw;
  margin-top: -414.36vw;
  position: relative;
  width: 100%;
}

.iphone-13-u38-14-5 .filters {
  align-items: flex-end;
  background-color: var(--ffffff);
  display: flex;
  flex-direction: column;
  gap: 5.13vw;
  height: 330.26vw;
  left: 0;
  padding: 13.33vw 4.1vw;
  position: absolute;
  top: -0.26vw;
  width: 72.05vw;
}

.iphone-13-u38-14-5 .text-93 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.26vw;
  position: relative;
  text-align: center;
  width: fit-content;
}

.iphone-13-u38-14-5 .menu-3 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5.13vw;
  position: relative;
  width: 100%;
}

.iphone-13-u38-14-5 .line-5 {
  height: 0.51vw;
  margin-top: -0.51vw;
}

.iphone-13-u38-14-5 .menu-item {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2.05vw;
  position: relative;
}

.iphone-13-u38-14-5 .text-1 {
  align-items: center;
  direction: rtl;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.26vw;
  opacity: 0.4;
  position: relative;
  width: fit-content;
}

.iphone-13-u38-14-5 .line-1 {
  height: 0.51vw;
}

.iphone-13-u38-14-5 .menu-item-item {
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: relative;
  width: fit-content;
}

.iphone-13-u38-14-5 .frame-20 {
  align-items: center;
  display: inline-flex;
  gap: 5.13vw;
  justify-content: flex-end;
}

.iphone-13-u38-14-5 .text-108 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.26vw;
  position: relative;
  text-align: left;
  width: fit-content;
}

.iphone-13-u38-14-5 .ellipse-11 {
  background-color: var(--x1c1c1c);
  border-radius: 1.03vw;
  height: 2.05vw;
  opacity: 0.7;
  position: relative;
  width: 2.05vw;
}

.iphone-13-u38-14-5 .button-13 {
  align-items: flex-start;
  background-color: var(--ffffff);
  border-color: var(--a4a4a4);
  border-top-style: solid;
  border-top-width: 0.26vw;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 2.56vw;
  height: 18.97vw;
  left: 0;
  padding: 3.33vw 4.1vw;
  position: fixed;
  width: 72.05vw;
}

.iphone-13-u38-14-5 .button-14 {
  align-items: center;
  background-color: var(--x1c1c1c);
  border-radius: 0.51vw;
  display: flex;
  gap: 1.03vw;
  height: 11.54vw;
  justify-content: center;
  padding: 2.05vw 4.1vw;
  position: relative;
  width: 63.85vw;
}

.iphone-13-u38-14-5 .line-4 {
  align-self: stretch;
  position: relative;
  width: 100%;
}
